.nav{
    height: 50px;
    width: 100%;
    background-color: aqua;
}

.h50{
    height: 50px;
}
.fltrght{
    float: right;
    display: inline-block;
}
h1{
    color: aqua;
    text-align: center;
}